.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 400px;
  padding-left: 10px;
  margin: 50px auto;
  background-color: rgb(17, 16, 16);
  border-radius: 10px;
  box-shadow: 0 14px 45px rgba(39, 15, 15, 0.678), 0 18px 45px rgba(3, 3, 3, 0.562);
}